<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Contacto</title>
</head>
<body>
    <div class="wrapper">
        <!-- navigation -->
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="acerca-de-nosotros.html">Acerca De Nosotros</a>
                </li>
                <li>
                    <a href="servicios.html">Servicios</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>
        </nav>

        <!-- formulario de contacto -->
        <section class="box">
            <h2>Nuestros numeros de contacto</h2>
            <p>+123456789</p>
            <p>+987654321</p>
        </section>

        <section class="box">
            <h2>Escribenos</h2>
            <article>
                <form action="#">
                    <div>
                        <label for="nombre">Nombre:
                            <input type="text" placeholder="Nombre">
                        </label>
                    </div>
                    <div>
                        <label for="apellido">Apellido:
                        <input type="text" placeholder="Apellido">
                        </label>
                    </div>
                    <div>
                        <label for="email">Email:
                        <input type="email" placeholder="holamundo@gmail.com" name="email">
                        </label>
                    </div>
                        <div>
                            <label for="Asunto">Asunto:
                            <input type="text" placeholder="*****">
                            </label>
                        </div>
                        <div>
                            <label for="tu mensaje"> Tu mensaje:
                        </div>
                        <div>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div>
                            Quieres recibir info sobre nosotros?
                            <input type="checkbox" name="acepta" value="1"></div>
                            <input type="submit" value="Enviar">
                            <input type="reset" value="Cancelar">
                        </div>        
                    </label>
                </form>
            </article>
        </section>
                <!-- Termina formulario de contacto -->    
    <!-- Footer -->
    <footer>
        <p>Software Page &copy; 2022</p>
    </footer>
    </div>
    <!-- wrapper ends -->    
</body>
</html>